*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
}



.carnes{
    display: flex;
    justify-content: center;
    height: 500px;
    column-gap: 10px;
    margin-top: 20px;
}

card-img-top{
    height: 20px;
}

.section__carrito{
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

.carritoModal{
    gap: 15px;
    width: 300px;
    border: solid 2px black;
}

.producto__carrito button{
    background-color: red;
}